
<div class="row">
  <div class="col-sm-6">
    <h3>Clientes</h3>
    <br>
    <p>{{totalItems}} Clientes encontrados</p>
  </div>
  <div class="col-sm-6">
    <button class="btn btn-primary pull-right" (click)="openBatchLoad(contentUploadBatchClients)" style="margin-left: 10px;">Cargar</button>
    <button *ngIf="!downloadProcessing" class="btn btn-success pull-right" (click)="getClientsForDownload()">Descargar</button>
    <div *ngIf="downloadProcessing"  class="spinner-border text-primary pull-right" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>

<br />
<div class="row">
  <div class="table-responsive"> 
    <table class="table table-hover">
        <thead style="background-color: #007bff; color:white; font-size: small;">
          <tr>
            <th># Cliente</th>
            <th>Nombre</th>
            <th>Contacto</th>
            <th>Id. Fiscal</th>
            <th>Nombre Legal</th>
            <th>Correo</th>
            <th>Teléfono</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr style="font-size: small;" *ngFor="let c of clientsData.items; index as i;">
            <td>{{c.number}}</td>
            <td>{{c.companyName}}</td>
            <td>{{c.contactName}}</td>
            <td>{{c.fiscalTaxID}}</td>
            <td>{{c.legalName}}</td>
            <td>{{c.email}}</td>
            <td>{{c.phone}}</td>
            <th><i class="fa fa-pencil" (click)="open(content, i)" aria-hidden="true" style="font-size:17px;"></i></th>
            <th><i class="fa fa-ban" (click)="openDelete(contentDelete, i)"  aria-hidden="true" style="font-size:17px;"></i></th>
          </tr>
        </tbody>
      </table>
  </div>
 
</div>

<div class="row">

  <div class="col-sm-6">
    <!-- <h5>Página {{currentPage + 1}} de {{totalPages}}</h5> -->
    <!-- <p style="font-size: small;">Elementos por página: </p> -->
    <!-- https://stackoverflow.com/questions/37968712/angular-2-setting-selected-value-on-dropdown-list -->
    <!-- <select class="form-control" [(ngModel)]="selectedItemPerPageOption" (change)="manageItemsPerPage($event)">
      <option *ngFor="let x of itemsPerPageOptionValue" [ngValue]="x" >{{x.text}}</option>
  </select> -->
  <!-- <select [(ngModel)]="selectedItemPerPageOption.value" (change)="manageItemsPerPage($event)">
    <option *ngFor="let x of itemsPerPageOptionValue" [ngValue]="x.value" >{{x.text}}</option>
</select> -->
 </div>
 <div class="col-sm-6">
  <select class="form-control" [(ngModel)]="selectedItemPerPageOption" (change)="manageItemsPerPage($event)">
    <option *ngFor="let x of itemsPerPageOptionValue" [ngValue]="x" >{{x.text}}</option>
</select>
  <br/>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
      <li *ngIf="currentPage != 0" class="page-item"><a class="page-link" href="javascript:void(0)" (click)="previousPage()">Atrás</a></li>
      <li *ngFor="let p of viewPageLinks" class="page-item"><a class="page-link" href="javascript:void(0)" (click)="goToPage(p)">{{p +1}}</a></li>
      <li *ngIf="currentPage != totalPages -1" class="page-item"><a class="page-link" href="javascript:void(0)" (click)="nextPage()">Siguiente</a></li>
    </ul>
  </nav>
</div>
</div>


 <ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Cliente # {{selectedClient.number}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="row">
        <div class="col-sm-12 mx-auto">
            <form>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="inputFirstname">Nombre comercial</label>
                        <input type="text" [(ngModel)]="selectedClient.companyName" name="commercialName" class="form-control"  placeholder="First name">
                    </div>
                    <div class="col-sm-6">
                        <label for="inputLastname">Razón Social</label>
                        <input type="text" [(ngModel)]="selectedClient.legalName" name="legalName" class="form-control" id="inputLastname" placeholder="Last name">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="inputAddressLine1">RFC</label>
                        <input type="text" [(ngModel)]="selectedClient.fiscalTaxID" name="RFC" class="form-control" id="inputAddressLine1" placeholder="Street Address">
                    </div>
                    <div class="col-sm-6">
                        <label for="inputAddressLine2">Teléfono</label>
                        <input type="text" class="form-control" id="inputAddressLine2" placeholder="Line 2">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <label for="inputCity">Dirección</label>
                        <input type="text" [(ngModel)]="selectedClient.fiscalAddress" name="fiscalAddress" class="form-control" id="inputCity" placeholder="City">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                      <label for="inputWebsite">Correo</label>
                      <input type="text" class="form-control" id="inputWebsite" placeholder="Website">
                    </div>
                    <div class="col-sm-6">
                        <label for="inputWebsite">Contacto</label>
                        <input type="text" class="form-control" id="inputWebsite" placeholder="Website">
                    </div>
                </div>
               
            </form>
        </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>

<ng-template #contentDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Cliente # {{selectedClient.number}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="row">
        <div class="col-sm-12 mx-auto">
            <form>
              <p style="font-size: small; font-weight: bold;">¿Estás seguro que quieres eliminar éste cliente? Presiona OK para eliminarlo</p>
               
            </form>
        </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">OK</button>
  </div>
</ng-template>

<ng-template #contentUploadBatchClients let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Subida de clientes</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="row">
        <div class="col-sm-12 mx-auto">
            <form style="text-align: center;">
              <p style="font-size: medium;">Descarga la plantilla csv para subir los clientes aqui: </p>
              <button  (click)="download()" class="btn btn-success" style="text-align: center;">Descarga</button>
              <br />
              <p style="font-size: medium;">Una vez llena la plantilla, cargala para iniciar la importación</p>
              <input type="file" (change)="uploadListener($event)" accept=".csv">
              <p>Clientes a cargar {{newClients.length}}</p>
              <a *ngIf="newClients.length > 0" href="javascript:void(0)" (click)="setConfirmationTableVisible()">Quiero ver el detalle</a>
              <div *ngIf="newClients.length > 0 && isVisibleTableSet" class="table-responsive"> 
                <table class="table table-hover">
                    <thead style="background-color: #007bff; color:white; font-size: small;">
                      <tr>
                        <th>Razón social</th>
                        <th>RFC</th>
                        <th>Correo</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr style="font-size: small;" *ngFor="let c of newClients; index as i;">
                        <td>{{c.legalName}}</td>
                        <td>{{c.fiscalTaxID}}</td>
                        <td>{{c.email}}</td>
                      </tr>
                    </tbody>
                </table>
              </div>
              <div>
                <button *ngIf="!processing && newClients.length > 0" (click)="importFile()" class="btn btn-warning" style="text-align: center;">Importar</button>
              </div> 
              <div *ngIf="processing" class="d-flex justify-content-center">
                <div  class="spinner-border text-primary" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
               </div>
            </form>
        </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">OK</button>
  </div>
</ng-template>


<hr>

<pre>{{ closeResult }}</pre>