
<div class="row">
    <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-header">
                <i class="fa fa-user"></i> Clientes
            </div>
            <div class="card-body">
            <button  (click)="goToClients()" class="btn btn-primary">Ver</button>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-header">
                <i class="fa fa-tags"></i> Productos
            </div>
            <div class="card-body">
            <a href="#" class="btn btn-primary">Ver</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-header">
                <i class="fa fa-shopping-cart"></i> Captura de venta
            </div>
            <div class="card-body">
            <a href="#" class="btn btn-primary">Ver</a>
            </div>
        </div>
    </div>
</div>